<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="style.css" />
</head>       
<body>                                         
  <!-- Hero Section -->
  <section class="hero">
    <h2>Welcome to Home page </h2>
    <p>Your one-stop solution for awesome content.</p>
    <a href="#" class="btn">Get Started</a>
  </section>

  <!-- Footer -->
  <footer>
    <p>&copy; 2025 MySite. All rights reserved.</p>
     <p><a href="/error">Check 404 Error Page</a></p>
  </footer>

</body>
</html>